<nav class="navbar navbar-dark bg-red">
  <a class="navbar-brand" href="/">
  Gestor de proyectos
  </a>
</nav>

<div class="container">


    <div class="card-deck" mt-0 style="height:50vh">
      
        <div class="card mb-3">
          <div class="card-body">
            <h5 class="card-title">Proyectos</h5>

            <ul  id="cardText" class="list-group" style="padding:10%">
                <li *ngFor="let proyecto of arrayProyectos"
                class="list-group-item list-group-item-action" (click)="mostrarBotones('proyecto', proyecto)">
                <span id="tableroProyectos" class="badge">{{proyecto.id}}</span>{{proyecto.nombre}}
                </li>
                </ul>
          </div>
          <div class="card-footer">
              <!-- - npm run e2e:ci -->
                  
                      Nuevo proyecto
                    
                    <div class="form-group">
                      <input  id="textoProyecto" type="text" [(ngModel)]="proyecto.nombre" class="form-control" placeholder="Nombre" required>
                    </div>
                    <div><button id="crearProyecto" type="button" class="btn btn-success" (click)="crearProyecto()" btn-lg btn-block>Crear</button></div>
                    <div><button id="editarProyecto" type="button" class="btn btn-warning" *ngIf="btnProy" (click)="editarProyecto()" btn-lg btn-block>Guardar</button></div>
                    <div><button id="eliminarProyecto" type="button" class="btn btn-danger" *ngIf="btnProy" (click)="eliminarProyecto()" btn-lg btn-block>Eliminar</button></div>        
          </div>
        </div>


        <div class="card mb-3">
            <div class="card-body">
              <h5 class="card-title">Equipos</h5>
  
              <ul class="list-group" style="padding:10%">
                  <li *ngFor="let equipo of arrayEquipos"
                  class="list-group-item list-group-item-action" (click)="mostrarBotones('equipo', equipo)">
                  <span class="badge">{{equipo.id}}</span>{{equipo.nombre}}
                  </li>
                  </ul>
            </div>
            <div class="card-footer">
                    
                        Nuevo equipo
                      
                      <div class="form-group">
                        <input type="text" [(ngModel)]="equipo.nombre" class="form-control" placeholder="Nombre" required>
                      </div>
                      <div><button type="button" class="btn btn-success" (click)="crearEquipo()" btn-lg btn-block>Crear</button></div>
                      <div><button type="button" class="btn btn-warning" *ngIf="btnEqu" (click)="editarEquipo()" btn-lg btn-block>Guardar</button></div>
                      <div><button type="button" class="btn btn-danger" *ngIf="btnEqu" (click)="eliminarEquipo()" btn-lg btn-block>Eliminar</button></div>        
            </div>
          </div>

        <div class="card mb-3">
          <div class="card-body">
            <h5 class="card-title">Integrantes</h5>

            <ul class="list-group" style="padding:10%">
                <li *ngFor="let integrante of arrayIntegrantes"
                class="list-group-item list-group-item-action" (click)="mostrarBotones('integrante', integrante)">
                <span class="badge">{{integrante.id}}</span>{{integrante.nombre}} - {{integrante.edad}} - {{integrante.rol}}
                </li>
                </ul>
          </div>
          <div class="card-footer">
                  
                      Nuevo integrante
                    
                    <div class="form-group">
                      <input type="text" [(ngModel)]="integrante.nombre" class="form-control" placeholder="Nombre" required>
                      <input type="text" [(ngModel)]="integrante.edad" class="form-control" placeholder="Edad" required>
                      <input type="text" [(ngModel)]="integrante.rol" class="form-control" placeholder="Rol" required>
                    </div>
                    <div><button type="button" class="btn btn-success" (click)="crearIntegrante()" btn-lg btn-block>Crear</button></div>
                    <div><button type="button" class="btn btn-warning" *ngIf="btnInt" (click)="editarIntegrante()" btn-lg btn-block>Guardar</button></div>
                    <div><button type="button" class="btn btn-danger" *ngIf="btnInt" (click)="eliminarIntegrante()" btn-lg btn-block>Eliminar</button></div>        
          </div>
        </div>
  
      </div>
    </div>
      <div style="margin-top: 10%; margin-bottom: 15%;"></div>
      
      <div class="container">

      <div class="card-deck" mt-0 style="height:50vh; margin-top: 4%;" >
          

                <div class="card mb-2">
          <div class="card-body">
            <h5 class="card-title">Actividades</h5>

            <ul class="list-group" style="padding:10%">
                <li *ngFor="let actividad of arrayActividades"
                class="list-group-item list-group-item-action" (click)="mostrarBotones('actividad', actividad)">
                <span class="badge">{{actividad.id}}</span>{{actividad.nombre}}
                </li>
                </ul>
          </div>
          <div class="card-footer">
                  
                      Nueva actividad
                    
                    <div class="form-group">
                      <input type="text" [(ngModel)]="actividad.nombre" class="form-control" placeholder="Nombre" required>
                    </div>
                    <div><button type="button" class="btn btn-success" (click)="crearActividad()" btn-lg btn-block>Crear</button></div>
                    <div><button type="button" class="btn btn-warning" *ngIf="btnAct" (click)="editarActividad()" btn-lg btn-block>Guardar</button></div>
                    <div><button type="button" class="btn btn-danger" *ngIf="btnAct" (click)="eliminarActividad()" btn-lg btn-block>Eliminar</button></div>        
          </div>
        </div>


                 <div class="card mb-2">
          <div class="card-body">
            <h5 class="card-title">Tiempos y entregables</h5>

            <ul class="list-group" style="padding:10%">
                <li *ngFor="let entregable of arrayEntregables"
                class="list-group-item list-group-item-action" (click)="mostrarBotones('entregable', entregable)">
                <span class="badge">{{entregable.id}}</span>{{entregable.nombre}} - {{entregable.tiempo}}
                </li>
                </ul>
          </div>
          <div class="card-footer">
                  
                      Nuevo entregable
                    
                    <div class="form-group">
                      <input type="text" [(ngModel)]="entregable.nombre" class="form-control" placeholder="Nombre" required>
                      <input type="text" [(ngModel)]="entregable.tiempo" class="form-control" placeholder="Tiempo" required>
                    </div>
                    <div><button type="button" class="btn btn-success" (click)="crearEntregable()" btn-lg btn-block>Crear</button></div>
                    <div><button type="button" class="btn btn-warning" *ngIf="btnEnt" (click)="editarEntregable()" btn-lg btn-block>Guardar</button></div>
                    <div><button type="button" class="btn btn-danger" *ngIf="btnEnt" (click)="eliminarEntregable()" btn-lg btn-block>Eliminar</button></div>        
          </div>
        </div>

      </div>

 
</div>
